---
layout: nil
is_index: true
---


{% include header.html %}

	<div class="row">
		<div class="col-xs-12">
			<div class="text-center">
				<h1 class="" id="siteName"></h1>
				<br>
				<br>
				<br>
			
				<div class="alert alert-primary" role="alert">
					We will be in contact to discuss the domain				
				</div>
			</div>	

			<div class="col-xs-6 col-xs-offset-3 well">
				<form action="https://formspree.io/me@jimmycouch.com" method="POST">
				  <div class="form-group">
				    <label >Name</label>
				    <input type="text" name="_name" class="form-control">
				  </div>
				  <div class="form-group">
				    <label>Email</label>
				    <input type="email" name="_replyto" class="form-control">
				  </div>

				  <div class="form-group">
				    <label>Comments (optional)</label>
				    <textarea type="textarea" rows="5" name="_comments" class="form-control"></textarea> 
				  </div>

				  <input type="hidden" id="websiteName" name="_website">

				  <button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
	


{% include footer.html %}
