<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Domain names for sale</title>

	<link rel="stylesheet" href="{{ site.baseurl }}/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/css.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="{{ site.baseurl }}/bootstrap.min.js"></script>
	<script type="text/javascript" src="{{ site.baseurl }}/custom.js"></script>
</head>
<body>

	<header>

	</header>

	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Domain Name For Sale</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#">Link</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	<div class="container">
